body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0;
    background-color: #f4f4f4;
   
}
.top1{
    background-color: rgb(187, 224, 187);
    display: flex;
    margin-top: 0;
    
}
h1{
    width: 80%;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(187, 224, 187);
    margin-right: 5px;
    color: rgb(12, 12, 12);
    padding: 15px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover{
    background-color: #197526;
    color: rgb(252, 251, 251);

}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu */
.show {
    display: block;
}
.icon{
    margin-top: 15px;
    margin-right: 8px;
   width: 40px;
   height: 40px; ;
}
main{
text-align: center;
}
.circular-image {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Ensure the height and width are equal */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image covers the entire area */
  }
  
  
